body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  padding: 1em 0;
  background: #4a90e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: larger;
  font-weight: bold;
}

.location {
  font-size: medium;
  font-weight: bold;
}

.desc {
  font-size: small;
  font-style: italic;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: Navy;
  font-style: oblique;
}

section {
  padding: 2em;
  margin: 1em 0;
  background: #f5f2f2;
  border-radius: 8px;
}

img {
  max-width: 275px;
  height: auto;
  border-radius: 1px;
  float: right;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 1em 0;
  background: #4a90e2;
  color: white;
}

@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 10px;
  }
}
